extends layout

block content
	h1 Subscriber Details
	a(href="/") Go Back
	ul
		li First Name: #{first_name}
		li Last Name: #{last_name}
		li Email: #{email}
		li User ID: #{id}

	a(class="editsubscriber" href="/editsubscriber/#{id}") Edit
	| | 
	a(class="deletesubscriber" href="" data-id="#{id}") Delete